/* ---------------------------------------------------------------------------

	AlphaNet CEU Testing Website IE 6 Styles
	http://
	
	author: nGen Works
	http://ngenworks.com

--------------------------------------------------------------------------- */

#content {
	margin: 0 340px 0 103px;
}

#nav {
	margin-right: -100%;
	margin-left: 13px;
	}
	
h1#logo {
	left: 13px;
}
	
/* ---------------------------------------------------------------------------
	
	=IE fixes

--------------------------------------------------------------------------- */

